body {
  font-family: "Gilroy", "Arial", sans-serif;
  min-width: 1200px;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

@mixin device-button($width) {
  position: relative;
  border: none;
  background-color: inherit;
  width: $width;
  text-align: center;
  vertical-align: middle;

  text-transform: uppercase;
}

@mixin device-button-bg() {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 8px;
  left: 0;
  top: 8px;
  border: none;
  background-color: $bg-orange-hover;
}

@mixin device-button-bg-hover() {
  height: 40px;
  top: -8px;
}

@-webkit-keyframes fallback {
  0% {
    -webkit-transform: translateY(-1440px);
            transform: translateY(-1440px);
            left: calc(50% - 480px);
  }

  70% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            left: calc(50% - 480px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
            left: calc(50% - 480px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            left: calc(50% - 480px);
  }
}

@keyframes fallback {
  0% {
    -webkit-transform: translateY(-1440px);
            transform: translateY(-1440px);
            left: calc(50% - 480px);
  }

  70% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            left: calc(50% - 480px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
            left: calc(50% - 480px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            left: calc(50% - 480px);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
