// typography

$font-black: #000000;
$font-opacity-black: rgba(0, 0, 0, 0.3);
$font-dark-grey: #464646;
$font-white: #ffffff;
$font-opacity-white: rgba(255, 255, 255, 0.7);
$font-low-opacity-white: rgba(255, 255, 255, 0.3);

// background colors

$bg-orange: #f0c52e;
$bg-dark-grey: #464646;
