.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  margin-bottom: 88px;
}

.about-us__info {
  margin-right: 65px;
}

.about-us__info,
.about-us__contacts {
  position: relative;
  padding-bottom: 20px;
}

.about-us__contacts {
  margin-left: 41px;
}

.about-us__info .info__description {
  margin: 30px auto;
}

.about-us__contacts .info__description {
  margin: 30px auto 40px auto;
}

.about-us .info__title {
  margin: 0;
  margin-bottom: 42px;
}

.about-us__info::before,
.about-us__contacts::before {
  content: "";
  display: inline-block;
  margin-bottom: 42px;
  width: 80px;
  height: 7px;
  background-color: $font-black;
}

.about-us .info__company-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 37px;
}

.about-us .info__button-wrapper {
  position: absolute;
  bottom: 0;
}

.about-us .info__button {
  @include device-button(260px);
  background: none;
}

.about-us .info__button::before {
  @include device-button-bg();
}

.about-us .info__button:hover::before,
.about-us .info__button:active::before {
  @include device-button-bg-hover();
}

.about-us .info__button:active {
  color: $font-black-opacity-03;
}

.about-us__contacts .info__map {
  display: inline-block;
  margin-bottom: 80px;
}

.about-us .info__company-item {
  position: relative;
  padding-left: 35px;
}

.about-us .info__company-item::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: $bg-advantages;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.about-us .info__company-item::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  background-color: #ffffff;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
