.advantages {
  min-width: 1200px;
  min-height: 288px;
  background-color: $bg-advantages;
}

.advantages__container {
  position: relative;
}

.advantages__list {
  padding: 80px 0px 70px 20px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;

  position: absolute;
  left: 0;
  top: -100px;

  border-right: 7px solid $font-black;
}

.advantages__details {
  padding-left: 402px;
}

.advantages__item {
  cursor: pointer;
}

.advantages__item {
  @include device-button(160px);
  z-index: 2;

  box-sizing: content-box;
  line-height: 40px;
}

.advantages__item:not(.advantages__item--active)::before {
  @include device-button-bg();
  top: 16px;
}

.advantages__item:not(.advantages__item--active):hover::before {
  @include device-button-bg-hover();
  top: 0;
}

.advantages__item a {
  color: inherit;
}

li.advantages__item--active {
  color: $font-orange;
  background-color: $font-black;
  padding-right: 117px;

  z-index: 2;
  height: 40px;
}

.advantages__item--active:hover {
  height: 40px;
}

.advantages__item:not(:last-child) {
  margin-bottom: 25px;
}

.advantages__details .details__title {
  margin: 0;
  top: -30px;
  position: absolute;
}

.advantages__details .details__description {
  margin: 0;
  padding-top: 52px;
  max-width: 436px;
}

.details--delivery::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 136px;
  height: 164px;
  background: url("../img/delivery.svg") no-repeat;
  position: absolute;
  right: 85px;
  top: -15px;
}

.details--warranty::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 171px;
  height: 194px;
  background: url("../img/warranty.svg") no-repeat;
  position: absolute;
  right: 0;
  top: -15px;
}

.details--credit::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 156px;
  height: 186px;
  background: url("../img/credit.svg") no-repeat;
  position: absolute;
  right: 0;
  top: -15px;
}
