.catalog__title {
  margin: 39px 0px 24px 60px;
}

.breadcrumbs {
  margin-left: 60px;
  margin-bottom: 45px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 7px;
  background: url("../img/nav-arrow.svg") no-repeat 0% 50%;

  margin: 0px 16px 0px 14px;
}
