.footer {
  padding: 60px 0px 65px 0px;
}

.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .user-menu {
  align-items: flex-start;
}

.footer .user-menu__item--logo {
  margin-top: 5px;
}

.footer__navigation a:not(:last-child) {
  margin-right: 30px;
}

.footer__row--contacts {
  margin-top: 19px;
  margin-bottom: 60px;
  justify-content: unset;
  align-items: flex-end;
}

.footer__contacts--address {
  display: inline-block;
  vertical-align: middle;
  margin-right: 155px;
}

.footer__contacts--phone {
  text-align: right;
}

.footer__navigation {
  margin-right: auto;
}

.social a {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.footer__social {
  margin-right: 55px;
  margin-top: 3px;
}

.footer__social a:not(:last-child) {
  margin-right: 20px;
}

.social a {
  opacity: 0.3;
}

.social a:hover {
  opacity: 0.6;
}

.social a:active {
  opacity: 0.1;
}

.social__facebook {
  background: url("../img/fb.svg") no-repeat;
}

.social__instagram {
  background: url("../img/instagram.svg") no-repeat;
}

.social__twitter {
  background: url("../img/twitter.svg") no-repeat;
}

.footer .user-menu__item--logo svg {
  width: 163px;
  height: 35px;
  fill: $bf-footer-pseudo;
}

.footer .user-menu__item--log-in::before,
.footer .user-menu__item--compare::before,
.footer .user-menu__item--basket::before {
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 50%;
}

.footer .user-menu__item--log-in::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12'%3E%3Cpath fill='%23ffc600' d='M.032 12h12.937c-.163-2.643-2.074-4.837-4.671-5.543a3.47 3.47 0 0 0 1.687-2.972 3.485 3.485 0 0 0-6.97 0c0 1.264.68 2.361 1.688 2.972C2.106 7.163.194 9.357.032 12z'/%3E%3C/svg%3E");
}

.footer .user-menu__item--compare::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%23ffc600' d='M8 2h1.984v8H8zM0 3h1.984v7H0zM4 0h2v10H4z'/%3E%3C/svg%3E");
}

.footer .user-menu__item--basket::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23ffc600' d='M11.864 3.017a.429.429 0 0 0-.327-.154H9.225V4.09c0 .563-.484 1.022-1.08 1.022-.594 0-1.078-.458-1.078-1.022V2.863H4.909V4.09c0 .563-.485 1.022-1.08 1.022-.595 0-1.078-.458-1.078-1.022V2.863H.438a.43.43 0 0 0-.327.154.472.472 0 0 0-.108.358l.776 7.134c.015.806.642 1.455 1.411 1.455h7.595c.77 0 1.396-.649 1.411-1.455l.776-7.134a.476.476 0 0 0-.108-.358z'/%3E%3Cpath fill='%23ffc600' d='M3.829 4.499c.239 0 .433-.184.433-.409V1.84c0-.632.672-1.022 1.295-1.022h1.079c.655 0 1.078.401 1.078 1.022v2.25c0 .225.194.409.431.409.239 0 .433-.184.433-.409V1.84C8.577.773 7.761 0 6.636 0H5.557c-1.19 0-2.159.826-2.159 1.84v2.25c0 .225.194.409.431.409z'/%3E%3C/svg%3E");
}

.footer__copyright img:hover,
.footer .user-menu__item--logo svg:hover,
.footer .user-menu__item--log-in:hover::before,
.footer .user-menu__item--compare:hover::before,
.footer .user-menu__item--basket:hover::before {
  opacity: 0.6;
}

.footer__copyright img:active,
.footer .user-menu__item--logo svg:active,
.footer .user-menu__item--log-in:active::before,
.footer .user-menu__item--compare:active::before,
.footer .user-menu__item--basket:active::before {
  opacity: 0.3;
}

.footer__row.user-menu a:first-child {
  flex-grow: 1;
}

.footer span.log-in,
.footer span.log-out {
  margin-right: 45px;
}

.footer .user-menu__item--compare {
  margin-right: 40px;
}

.footer .log-out {
  margin-left: 10px;
}

.footer__social,
.footer__copyright {
  flex-grow: 1;
  text-align: right;
}

.footer__row:last-of-type::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: $bf-footer-pseudo;
  display: flex;
  align-self: center;
}
