.footer {
  padding: 60px 0px 65px 0px;
}

.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .user-menu {
  align-items: flex-start;
}

.footer .user-menu__item--logo {
  margin-top: 5px;
}

.footer__navigation a:not(:last-child) {
  margin-right: 30px;
}

.footer__row--contacts {
  margin-top: 19px;
  margin-bottom: 60px;
  justify-content: unset;
  align-items: flex-end;
}

.footer__contacts--address {
  display: inline-block;
  margin-right: 155px;
}

.footer__contacts--phone {
  text-align: right;
}

.footer__navigation {
  margin-right: auto;
}

.social a {
  display: inline-block;
  width: 32px;
  height: 32px;
  filter: opacity(0.3);
}

.footer__social {
  margin-right: 55px;
  margin-top: 3px;
}

.footer__social a:not(:last-child) {
  margin-right: 20px;
}

.social a:hover {
  filter: opacity(0.6);
}

.social a:active {
  filter: opacity(0.1);
}

.social__facebook {
  background: url("../../img/fb.svg") no-repeat;
}

.social__instagram {
  background: url("../../img/instagram.svg") no-repeat;
}

.social__twitter {
  background: url("../../img/twitter.svg") no-repeat;
}

.footer .user-menu__item--logo,
.footer .user-menu__item::before {
  filter: invert(71%) sepia(58%) saturate(1088%) hue-rotate(359deg) brightness(103%) contrast(106%);
}

.footer .user-menu__item--logo:hover,
.footer a.user-menu__item:hover::before {
  filter: invert(71%) sepia(58%) saturate(1088%) hue-rotate(359deg) brightness(103%) contrast(106%) opacity(0.6);
}

.footer .user-menu__item--logo:active,
.footer a.user-menu__item:active::before {
  filter: invert(71%) sepia(58%) saturate(1088%) hue-rotate(359deg) brightness(103%) contrast(106%) opacity(0.3);
}

.footer__copyright img:hover {
  filter: opacity(0.6);
}

.footer__copyright img:active {
  filter: opacity(0.3);
}

.footer__row.user-menu a:first-child {
  flex-grow: 1;
}

.footer span.log-in,
.footer span.log-out {
  margin-right: 45px;
}

.footer .user-menu__item--compare {
  margin-right: 40px;
}

.footer .log-out {
  margin-left: 10px;
}

.footer__social,
.footer__copyright {
  flex-grow: 1;
  text-align: right;
}

.footer__row:last-of-type::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: $bf-footer-pseudo;
  display: flex;
  align-self: center;
}
