.goods {
  margin-top: 107px;
  margin-bottom: 182px;
}

.goods__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.goods__item {
  cursor: pointer;
  width: 160px;
}

.goods__item::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  height: 160px;
}

.goods__item p {
  margin: 0;
  margin-top: 35px;
}

.goods__item a {
  color: inherit;
}

.goods__item:active {
  color: $font-black-opacity-03;
}

.goods__item--virtual-reality::before {
  background: url("../img/popular-1.svg") no-repeat 50% 50%;
  background-color: $bg-orange;
}

.goods__item--selfie-monopods::before {
  background: url("../img/popular-2.svg") no-repeat 50% calc(100% - 2px);
  background-color: $bg-orange;
}

.goods__item--selfie-monopods {
  padding-right: 50px; 
}

.goods__item--action-cameras::before {
  background: url("../img/popular-3.svg") no-repeat 50% calc(50% + 3px);
  background-color: $bg-orange;
}

.goods__item--fitnes-bands::before {
  background: url("../img/popular-4.svg") no-repeat 50% calc(50% + 3px);
  background-color: $bg-orange;
}

.goods__item--smart-watch::before {
  background: url("../img/popular-5.svg") no-repeat 50% calc(50% + 3px);
  background-color: $bg-orange;
}

.goods__item--quadcopters::before {
  background: url("../img/popular-6.svg") no-repeat 50% calc(50% + 4px);
  background-color: $bg-orange;
}

.goods__item--virtual-reality:hover::before,
.goods__item--selfie-monopods:hover::before,
.goods__item--action-cameras:hover::before,
.goods__item--fitnes-bands:hover::before,
.goods__item--smart-watch:hover::before,
.goods__item--quadcopters:hover::before {
  background-color: $bg-orange-hover;
}

.goods__item--virtual-reality:active::before,
.goods__item--selfie-monopods:active::before,
.goods__item--action-cameras:active::before,
.goods__item--fitnes-bands:active::before,
.goods__item--smart-watch:active::before,
.goods__item--quadcopters:active::before {
  background-color: $bg-orange;
  opacity: 0.3;
}
