.header .container {
  margin-top: 40px;
  padding-top: 1px;
  padding-bottom: 50px;

  position: relative;
  width: 1160px;
}

.header__logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.header__row {
  margin: 27px 36px 0px 40px;
}

.header .user-menu {
  margin-right: 39px;
}

.user-menu,
.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__row.user-menu form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.header__row.user-menu input[type="search"] {
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 21px 125px 20px 37px;

  background: url("../img/search.svg") no-repeat 4px 50%;
  vertical-align: middle;
}

.header__row.user-menu input[type="search"]:focus {
  outline-color: transparent;
  border-bottom: 2px solid $font-black;
  margin-bottom: -2px;
}

.header__row.user-menu input[type="search"]:focus + button.user-menu__item--search-submit,
.header__row.user-menu button.user-menu__item--search-submit:hover,
.header__row.user-menu button.user-menu__item--search-submit:active,
.header__row.user-menu button.user-menu__item--search-submit:focus {
  display: block;
}

.header button.user-menu__item--search-submit {
  height: 100%;
  padding: 10px 20px;
  border: 2px solid $font-black;
  margin-bottom: -2px;
  background-color: inherit;
  cursor: pointer;
  display: none;
}


.header button.user-menu__item--search-submit:hover {
  background-color: $font-black;
  color: $font-white;
}

.header button.user-menu__item--search-submit:active {
  background-color: $font-black;
  color: $font-white-opacity-03;
}

.user-menu__item::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
}

.user-menu__item--log-in::before {
  margin-right: 8px;
  background: url("../img/user.svg") no-repeat 0% 50%;
}

.user-menu__item--compare::before {
  margin-right: 8px;
  background: url("../img/compare.svg") no-repeat 0% 50%;
}

.user-menu__item--basket::before {
  margin-right: 8px;
  background: url("../img/cart.svg") no-repeat 0% 50%;
}

.navigation__item--catalog::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-left: 12px;
  background: url("../img/plus.svg") no-repeat 100% 50%;
  opacity: 0.3;
  vertical-align: baseline;
}

.navigation__item--catalog:hover .header__catalog-wrapper {
  display: block;
}

.navigation__item--catalog:focus-within .header__catalog-wrapper  {
  display: block;
}

.header__logo:hover,     
.header a.user-menu__item:hover {
  opacity: 0.6;
}

.header__logo:active,
.header a.user-menu__item:active {
  opacity: 0.3;
}

.user-menu__item--log-in .log-in {
  margin-right: 217px;
}

.user-menu__item--log-in .log-out {
  margin-right: 59px;
}

.user-menu__item--compare {
  margin-right: 41px;
}

.header__row.user-menu form,
.navigation__item--catalog {
  flex-grow: 1;
}

.navigation__item--catalog {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
}

.navigation__item--delivery {
  margin-right: 34px;
}

.navigation__item--warranty {
  margin-right: 108px;
}

.header .log-out {
  margin-left: 20px;
}
