.popup--feedback,
.popup--map {
    width: 960px;
    margin: 0 auto;

    position: fixed;
    z-index: 2;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background-color: $font-white;
    box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.popup--map {
    height: 559px;
}

.popup__container {
    padding: 100px;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popup__button--close {
    width: 55px;
    height: 55px;
    border: none;
    background: url("../img/modal-close.svg") no-repeat;
    position: absolute;
    top: 22px;
    right: 22px;
    opacity: 0.5;
}

.popup__button--close:hover {
    opacity: 1;
}

.popup__button--close:active {
    opacity: 0.3;
    outline: none;
}

.popup--feedback label {
  display: block;
  margin-bottom: 10px;
}

.popup__item textarea {
    width: 100%;
    resize: none;
    height: 156px;
    overflow-y: auto;
}

.popup__item input,
.popup__item textarea {
    background-color: $bg-input;
    border: none;
    padding: 20px;
}

.popup__item input:hover,
.popup__item textarea:hover {
    background-color: $bg-input-hover;
}

.popup__item input:focus,
.popup__item textarea:focus {
    background-color: $font-white;
    outline: none;
    outline: 3px solid $bg-orange;
    color: $font-dark-grey;
}

.popup__item input {
    width: 360px;
    height: 50px;
}

.popup__item:last-of-type {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
}

.popup__button--submit {
  @include device-button(200px);
}

.popup__button--submit::before {
  @include device-button-bg();
}

.popup__button--submit:hover::before,
.popup__button--submit:active::before {
  @include device-button-bg-hover();
}

.popup__button--submit:active {
  color: $font-black-opacity-03;
}

.popup--map iframe {
    border: none;
}