.promo {
  position: relative;
  width: 1160px;
  min-height: 486px;
}

.promo__item {
  position: relative;
}

.promo__item--3 table {
  max-width: 275px;
}

.promo__wrapper {
  padding: 0px 50px 0px 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
}

img.promo__image--1,
img.promo__image--2 {
  margin-left: 70px;
}

.main__promo::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 113px;
  background-color: $bg-header-catalog;

  left: 0;
}

.promo__info {
  min-width: 490px;
}

.promo__info::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 39px;
  width: 100px;
  height: 7px;
  background-color: $font-white;
}

.promo__item .info__counter {
  position: absolute;
  top: -13px;
  right: 25px;
  z-index: -1;
}

.promo__item .info__title {
   margin: 0;
   margin-top: 80px;
   margin-bottom: 19px;

   white-space: nowrap;
}

.promo__item--3 .info__title {
  max-width: 510px;
  white-space: pre-wrap;
}

.promo__item .info__description {
  margin: 0;
}

.promo__item--2 .info__description {
  max-width: 450px;
}

.promo__item--2 .info__description {
  max-width: 470px;
}

.promo__item .info__buttons {
  margin: 50px 0px;
}

.promo__item table {
  width: 100%;
}

.promo .info__more {
  @include device-button(220px);
  background: none;
}

.promo .info__more::before {
  @include device-button-bg();
}

.promo .info__more:hover::before,
.promo .info__more:active::before {
  @include device-button-bg-hover();
}

.promo .info__more:active {
  color: $font-black-opacity-03;
}

.details__value td {
  padding-top: 5px;
}

.details__name td {
  padding-top: 8px;
}

.details__value td:first-child,
.details__name td:first-child {
  width: 155px;
}

.details__value td:nth-child(2),
.details__name td:nth-child(2) {
  width: 135px;
}
