.promo__slider {
  position: absolute;
  z-index: 1;

  top: 328px;
  right: 83px;

  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.promo__slide {
  background: url("../img/slider-button-empty.svg") no-repeat;
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.promo__slide:not(:last-child) {
  padding-right: 33px;
}

.promo__slide:active {
  outline: none;
}

.promo__slide--current {
  background: url("../img/slider-button.svg") no-repeat;
  background-size: 12px 12px;
}
