// typography

.about-us .info__title {
  @include font("Gilroy", bold, $font-black);
  @include font-size(47px, 1em);
}

.about-us .info__description {
  @include font("Open Sans", normal, $font-dark-grey);
  @include font-size(15px, 2em);
}

.about-us .info__button {
  @include font("Gilroy", bold, $font-black);
  @include font-size(18px, 1.33em);
  letter-spacing: 3.6px;
}

.about-us .info__company-list {
  @include font("Gilroy", bold, $font-black);
  @include font-size(16px, 2.5em);
  list-style: none;
}

// layout

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 90px;
}

/* добавить в normalize */
.about-us .info__title {
  margin: 0;
  margin-bottom: 60px;
}

.about-us__info::before,
.about-us__contacts::before {
  content: "";
  display: inline-block;
  margin-bottom: 50px;
  width: 80px;
  height: 7px;
  background-color: $font-black;
}

.about-us .info__company-list {
  margin: 0;
  padding: 0;
}

.about-us .info__button {
  margin-top: 80px;
  @include device-button(260px);
}

.about-us .info__button::before {
  @include device-button-bg();
}

.about-us .info__button:hover::before,
.about-us .info__button:active::before {
  @include device-button-bg-hover();
}

.about-us .info__button:active {
  color: $font-opacity-black;
}

.about-us__contacts .info__map {
  display: inline-block;
}
