// typography

.catalog__title {
  @include font("Gilroy", bold, $font-black);
  @include font-size(47px, 1em);
}

.breadcrumbs {
  @include font("Open Sans", normal, $font-black-opacity-03);
  @include font-size(14px, 1.7em);
}

.breadcrumbs__item {
  color: inherit;
}

.breadcrumbs__item:hover {
  color: $font-black-opacity-06;
}

.breadcrumbs__item:active {
  color: $font-black-opacity-01;
}

// layout
.catalog__title {
  margin: 44px 0px 30px 60px;
}

.breadcrumbs {
  margin-left: 60px;
  margin-bottom: 50px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 7px;
  background: url("../../img/nav-arrow.svg") no-repeat 0% 50%;

  margin: 0px 16px;
}
