// layout

.catalog__content {
  flex-grow: 1;
  margin-bottom: 77px;
}

.content__title {
  margin-right: 55px;
}

.content__container {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: $bg-grey;
  padding-left: 75px;
}

.content__filter {
  margin: 0;
  padding: 0;

  display: flex;
}

.catalog__decoration,
.catalog__filters-decoration {
  position: relative;
}

.catalog__decoration::before {
  content: "";
  position: absolute;
  background-color: $bg-grey;
  display: inline-block;
  width: 33%;
  height: 100%;
  z-index: -2;
}

.catalog__decoration::after {
  content: "";
  position: absolute;
  background-color: $bg-grey;
  display: inline-block;
  width: 33%;
  height: 70px;
  z-index: -1;
  right: 0;
  top: 0;
}

.catalog__filters-decoration::before {
  content: "";
  position: absolute;
  background-color: $bg-filter;
  display: inline-block;
  width: 33%;
  height: 70px;
  z-index: -1;
  left: 0;
  top: 0;
}
