// typography

.filters {
  background-color: $bg-grey;
}

.filters__title {
  @include font("Gilroy", bold, $font-black);
  @include font-size(16px, 1.5em);
  text-transform: uppercase;
  letter-spacing: 3.2px;

  background-color: $bg-filter;
}

.content__title {
  @include font("Gilroy", bold, $font-black);
  @include font-size(16px, 1.5em);
  text-transform: uppercase;
  letter-spacing: 3.2px;

  background-color: $bg-grey;
}

legend.filter__title {
  @include font("Gilroy", bold, $font-black);
  @include font-size(18px, 1.33em);
}

.filter__list {
  list-style: none;
}

.filters__button {
  @include font("Gilroy", bold, $font-black);
  @include font-size(18px, 1.33em);
}

.filter__item label {
  @include font("Open Sans", normal, $font-black);
  @include font-size(14px, 2.8em);
}

.range__item label,
.range__item input[type="number"] {
  @include font("Gilroy", normal, $font-black-new);
  @include font-size(14px, 1.33em);
}

/* пока легче добавить label класс disabled */

label.disabled {
  color: $font-disabled;
}

.content__filter {
  list-style: none;
  background-color: $bg-grey;
  flex-grow: 1;
}

.content__filter a {
  @include font("Open Sans", normal, $font-opacity-black);
  @include font-size(14px, 1.29em);
}

.content__filter a:hover {
  color: $font-black-hover;
}

.content__filter a:active {
  color: $font-black;
}

.content__filter .filter__item--active {
  color: $font-black;
}

.filter__item--active a {
  color: inherit;
}


// layout

.filters {
  width: 327px;
}

.filters__title {
  margin: 0;
  padding-left: 60px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filters form {
  box-sizing: content-box;
  width: 201px;
  padding-left: 60px;
  padding-right: 67px;
  margin-top: 70px;
}

.filters fieldset {
  border: none;
  margin: 0;
  padding: 0;

  margin-bottom: 40px;
}

.filter__title {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 15px;
  border-top: 2px solid $font-black;
}

.content__filter .filter__item:not(:last-child) {
  margin-right: 30px;
}

.range__controls {
  position: relative;
  margin-top: 25px;
}

.range__scale {
  height: 2px;
  background-color: $bg-range;
}

.range__bar {
  height: 2px;
  background-color: $bg-scale-bar;
  width: 52%;
}

.range__toggle {
  box-sizing: content-box;
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: $bg-range;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range__toggle:active {
  top: -11px;
  border: 10px solid #ffffff;
}

.range__toggle--min {
  left: 0;
}

.range__toggle--max {
  left: 95px;
}

.range__item input[type="number"] {
  width: 55px;
  border: none;
  background-color: inherit;
}

.range__price-controls {
  margin-top: 5px;
}

.catalog__filters .filter__list {
  padding: 0;
  margin: 0;
}

.filter__checkbox,
.filter__radio {
  position: relative;
  padding-left: 40px;
}

.filter__checkbox input[type="checkbox"] + .filter__checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background: url("../../img/checkbox-off.svg") no-repeat;
}

.filter__radio input[type="radio"] + .filter__radio-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../../img/radio-off.svg") no-repeat;
}

.filter__checkbox input[type="checkbox"]:checked + .filter__checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background: url("../../img/checkbox-on.svg") no-repeat;
}

.filter__radio input[type="radio"]:checked + .filter__radio-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../../img/radio-on.svg") no-repeat;
}

.filter__checkbox input[type="checkbox"] + .filter__checkbox-indicator:hover::before,
.filter__radio input[type="radio"] + .filter__radio-indicator:hover::before {
  filter: opacity(0.6);
}

.filter__checkbox input[type="checkbox"] + .filter__checkbox-indicator:active::before,
.filter__radio input[type="radio"] + .filter__radio-indicator:active::before {
  filter: opacity(1);
}

.filter__checkbox input[type="checkbox"]:checked:disabled + .filter__checkbox-indicator::before,
.filter__checkbox input[type="checkbox"]:disabled + .filter__checkbox-indicator::before,
.filter__radio input[type="radio"]:checked:disabled + .filter__radio-indicator::before,
.filter__radio input[type="radio"]:disabled + .filter__radio-indicator::before {
  filter: opacity(0.25);
}

// не работает , решить проблему с блеклым label при disabled input

.filter__checkbox input[type="checkbox"]:checked:disabled,
.filter__checkbox input[type="checkbox"]:disabled,
.filter__radio input[type="radio"]:checked:disabled,
.filter__radio input[type="radio"]:disabled {
  color: $font-disabled;
}

.filter-direction button {
  width: 11px;
  height: 10px;
  border: none;
  filter: opacity(0.2);
}

.filter-direction button:hover {
  filter: opacity(0.4);
}

.filter-direction button:active {
  filter: opacity(1);
}

button.filter-direction__increase {
  background: url("../../img/icon-up-dir.svg") no-repeat;
}

button.filter-direction__decrease {
  background: url("../../img/icon-up-dir.svg") no-repeat;
  transform: rotate(180deg);
  margin-left: 20px;
}
