// typography

.filters {
  background-color: $bg-grey;
}

.filters__title {
  @include font("Gilroy", bold, $font-black);
  @include font-size(16px, 1.5em);
  text-transform: uppercase;
  letter-spacing: 3.2px;

  background-color: $bg-filter;
}

.content__title {
  @include font("Gilroy", bold, $font-black);
  @include font-size(16px, 1.5em);
  text-transform: uppercase;
  letter-spacing: 3.2px;

  background-color: $bg-grey;
}

legend.filter__title {
  @include font("Gilroy", bold, $font-black);
  @include font-size(18px, 1.33em);
}

.filter__list {
  list-style: none;
}

.filters__button {
  @include font("Gilroy", bold, $font-black);
  @include font-size(18px, 1.33em);
}

.filter__item label {
  @include font("Open Sans", normal, $font-black);
  @include font-size(14px, 2.8em);
}

/* пока легче добавить label класс disabled */

label.disabled {
  color: $font-disabled;
}

.content__filter {
  list-style: none;
  background-color: $bg-grey;
}

.content__filter a {
  @include font("Open Sans", normal, $font-opacity-black);
  @include font-size(14px, 1.29em);
}

.content__filter a:hover {
  color: $font-black-hover;
}

.content__filter a:active {
  color: $font-black;
}

.content__filter .filter__item--active {
  color: $font-black;
}

.filter__item--active a {
  color: inherit;
}


// layout

.filters {
  width: 327px;
}

.filters__title {
  margin: 0;
  // padding: 30px 0 30px 200px;
  padding-left: 200px;
  height: 70px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filters form {
  //padding-left: 200px;
  padding-right: 67px;
  margin-top: 70px;
}

.filters fieldset {
  border: none;
  margin: 0;
  padding: 0;

  margin-bottom: 40px;
}

.filter__title {
  width: 100%;
  padding-top: 15px;
  border-top: 2px solid $font-black;
}

.content__filter .filter__item:not(:last-child) {
  margin-right: 30px;
}
