// typography

.footer {
  background-color: $bg-dark-grey;
}

.footer .user-menu {
  @include font("Open Sans", normal, $font-opacity-white);
  @include font-size(15px, 2.4em);
}

.footer .user-menu__item {
  color: inherit;
}

.footer .user-menu__item:hover {
  color: $font-white;
}

.footer .user-menu__item:active {
  color: $font-low-opacity-white;
}

.footer .navigation {
  @include font("Gilroy", bold, $font-white);
  @include font-size(18px, 1.33em);
  text-transform: uppercase;
}

.footer .navigation__item {
  color: inherit;
}

.footer .navigation__item:hover {
  color: $font-white-hover;
}

.footer .navigation__item:active {
  color: $font-low-opacity-white;
}

.footer__contacts,
.footer__contacts a {
  @include font("Open Sans", normal, $font-white);
  @include font-size(15px, 2em);
}

.footer .log-out {
  @include font("Open Sans", normal, $font-low-opacity-white);
  @include font-size(15px, 2em);
}

// layout

.footer {
  padding: 65px 0px; 
}

.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__navigation a:not(:last-child) {
  margin-right: 38px;
}

.footer__row--contacts {
  margin-top: 42px;
  margin-bottom: 70px;
}

.social a {
  display: inline-block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social__facebook {
  background: url("../../img/fb.svg") no-repeat;
}

.social__instagram {
  background: url("../../img/instagram.svg") no-repeat;
}

.social__twitter {
  background: url("../../img/twitter.svg") no-repeat;
}