// typography

.footer {
  background-color: $bg-dark-grey;
}

.footer .user-menu {
  @include font("Open Sans", normal, $font-opacity-white);
  @include font-size(15px, 2.4em);
}

.footer .user-menu__item {
  color: inherit;
}

.footer .user-menu__item:hover {
  color: $font-white;
}

.footer .user-menu__item:active {
  color: $font-low-opacity-white;
}

.footer .navigation {
  @include font("Gilroy", bold, $font-white);
  @include font-size(18px, 1.33em);
  text-transform: uppercase;
}

.footer .navigation__item {
  color: inherit;
}

.footer .navigation__item:hover {
  color: $font-white-hover;
}

.footer .navigation__item:active {
  color: $font-low-opacity-white;
}

.footer__contacts,
.footer__contacts a {
  @include font("Open Sans", normal, $font-white);
  @include font-size(15px, 2em);
}

.footer .log-out {
  @include font("Open Sans", normal, $font-low-opacity-white);
  @include font-size(15px, 2em);
}

// layout

.footer {
  padding: 65px 0px; 
}

.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__navigation a:not(:last-child) {
  margin-right: 38px;
}

.footer__row--contacts {
  margin-top: 42px;
  margin-bottom: 70px;
}

.social a {
  display: inline-block;
  width: 32px;
  height: 32px;
  filter: opacity(0.3);
}

.social a:hover {
  filter: opacity(0.6);
}

.social a:active {
  filter: opacity(0.1);
}

.social__facebook {
  background: url("../../img/fb.svg") no-repeat;
}

.social__instagram {
  background: url("../../img/instagram.svg") no-repeat;
}

.social__twitter {
  background: url("../../img/twitter.svg") no-repeat;
}

.footer .user-menu__item--logo, 
.footer .user-menu__item::before {
  filter: invert(71%) sepia(58%) saturate(1088%) hue-rotate(359deg) brightness(103%) contrast(106%);
}

.footer .user-menu__item--logo:hover,
.footer a.user-menu__item:hover::before {
  filter: invert(71%) sepia(58%) saturate(1088%) hue-rotate(359deg) brightness(103%) contrast(106%) opacity(0.6);
}

.footer .user-menu__item--logo:active,
.footer a.user-menu__item:active::before {
  filter: invert(71%) sepia(58%) saturate(1088%) hue-rotate(359deg) brightness(103%) contrast(106%) opacity(0.3);
}

.footer__copyright img:hover {
  filter: opacity(0.6);
}

.footer__copyright img:active {
  filter: opacity(0.3);
}

.footer__row.user-menu a:first-child {
  flex-grow: 1;
}

.footer .user-menu__item--log-in {
  margin-right: 45px;
}

.footer .user-menu__item--compare {
  margin-right: 40px;
}

.footer .log-out {
  margin-left: 20px;
}

.footer__social,
.footer__copyright {
  flex-grow: 1;
  text-align: right;
}

.footer__row:last-of-type::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: $bf-footer-pseudo;
  display: flex;
  align-self: center;
}