.goods {
  @include font("Gilroy", bold, $font-black);
  @include font-size(18px, 1.33em);
}

.goods {
  margin: 80px 0px 260px 0px;
}

.goods__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.goods__item {
  cursor: pointer;
  width: 160px;
  height: 160px;
}

.goods__item::before {
  content: "";
  display: block;
  height: 160px;
  background-color: $bg-orange;
  margin-bottom: 40px;
}

.goods__item:active {
  color: $font-opacity-black;
}

.goods__item--virtual-reality {
  background: url("../../img/popular-1.svg") no-repeat 50% 50%;
}

.goods__item--selfie-monopods {
  background: url("../../img/popular-2.svg") no-repeat 50% 50%;
}

.goods__item--action-cameras {
  background: url("../../img/popular-3.svg") no-repeat 50% 50%;
}

.goods__item--fitnes-bands {
  background: url("../../img/popular-4.svg") no-repeat 50% 50%;
}

.goods__item--smart-watch {
  background: url("../../img/popular-5.svg") no-repeat 50% 50%;
}

.goods__item--quadcopters {
  background: url("../../img/popular-6.svg") no-repeat 50% 50%;
}
