.header {
  background-color: $bg-orange;
  opacity: 0.5;
}

.header .user-menu {
  @include font("Open Sans", normal, $font-black);
  @include font-size(15px, 2em);
}

.header .user-menu__item {
  color: inherit;
}

/* hover с placeholder не прокатил */

.header .user-menu__item:hover,
.user-menu__form input[placeholder]:hover {
  color: $font-black-hover;
}

.header .user-menu__item:active {
  color: $font-opacity-black;
}

.user-menu__form input[placeholder] {
  color: $font-dark-grey;
}

.header .navigation {
  @include font("Gilroy", bold, $font-black);
  @include font-size(18px, 1.33em);
  text-transform: uppercase;
}

.navigation__item {
  color: inherit;
}

.navigation__item:hover {
  color: $font-black-hover;
}

.navigation__item:active {
  color: $font-opacity-black;
}

.catalog {
  @include font("Open Sans", normal, $font-black);
  @include font-size(15px, 2.4em);
  list-style: none;
}

.catalog__item {
  cursor: pointer;
}

.catalog__item:hover {
  color: $font-black-hover;
}

.catalog__item:active {
  color: $font-opacity-black;
}

.header .log-out {
  @include font("Open Sans", normal, $font-opacity-black);
  @include font-size(15px, 2em);
}
