// typography

.pagination {
  background-color: $bg-grey;
}

.pagination__item {
  @include font("Gilroy", bold, $font-black-opacity-03);
  @include font-size(16px, 1.5em);
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.pagination__item:hover {
  color: $font-black-opacity-06;
}

.pagination__item:active {
  color: $font-black;
}

.pagination__item--back,
.pagination__item--current,
.pagination__item--forward {
  color: $font-black;
}

.pagination__item--back:hover,
.pagination__item--forward:hover {
  background-color: $bg-filter;
}

.pagination__item--back:active,
.pagination__item--forward:active {
  background-color: $bg-filter;
  color: $font-black-opacity-03;
}

// layout

.pagination {
  margin-left: 75px;
  //margin-right: 140px;

  //padding: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pagination__item:not(:last-child):not(.pagination__item--back):not(.pagination__item--forward) {
  margin-right: 30px;
}

.pagination__item--back,
.pagination__item--forward {
  padding: 25px 30px 20px 30px;
}

.pagination__item--back {
  margin-right: auto;
}

.pagination__item--forward {
  margin-left: auto;
  text-align: right;
}
