.partners {
  margin: 95px auto 90px auto;
}

.partners__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.partners__item {
  cursor: pointer;
}

.partners__logo-hover {
  display: none;
}

.partners__item:hover .partners__logo-hover {
  display: block;
}

.partners__item:hover .partners__logo {
  display: none;
}