// typography

.products__name {
  @include font("Gilroy", bold, $font-black);
  @include font-size(18px, 1.33em);
}

.products__cost {
  @include font("Gilroy", normal, $font-dark-grey);
  @include font-size(16px, 1.5em);
}

// layout

.content__products {
  list-style: none;

  margin: 0;
  padding: 0;

  margin-top: 70px;
  margin-bottom: 40px;

  padding-left: 75px;
  //padding-right: 140px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.products__name {
  display: inline-block;
  max-width: 70%;
}


.products__item:nth-of-type(2n):not(:last-of-type) {
  margin-bottom: 50px;
}